/*
- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%)
*/

body {
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mainCard {
  padding: 20px 40px;
  width: 60%;
  max-width: 800px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}

#header {
  display: flex;
  align-items: center;
  color: hsl(292, 42%, 14%);
  margin-bottom: 30px;
  margin-top: 20px;
}

#header svg {
  margin-right: 20px;
}

#header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.section {
  border-top: 2px solid hsl(275, 100%, 97%);
}

#first {
  border-top: none;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}

.question p {
  color: hsl(292, 42%, 14%);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 5px;
}

.answer p {
  color: hsl(292, 16%, 49%);
  margin-bottom: 30px;
}

.hidden {
  display: none;
}
