/*
colors
primary
- Orange: hsl(25, 97%, 53%)

neutral
- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

font weights
400,700

*/

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  color: white;
  margin: 0;
}

main {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainCard {
  width: 40%;
  background-color: hsla(213, 20%, 18%, 0.523);

  /* background: radial-gradient(hsl(213, 19%, 18%) 10%, hsl(220, 24%, 10%)); */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 30px;
  margin-bottom: 40px;
}

#star {
  /* background: radial-gradient(hsl(216, 12%, 54%), hsl(213, 19%, 18%)); */
  background-color: hsla(216, 12%, 54%, 0.29);
  border-radius: 50%;
  margin-bottom: 20px;
  height: 17px;
  padding: 15px;
}

#star svg {
  width: 17px;
  height: 17px;
}

.body {
  margin-bottom: 20px;
}

.body p {
  color: hsl(217, 12%, 63%);
  font-size: 1.1rem;
  line-height: 1.5;
}

#options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.option {
  padding: 15px 20px;
  width: 10px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  background-color: hsla(216, 12%, 54%, 0.29);
}

.option:hover {
  background-color: hsl(25, 97%, 53%);
}

#btn {
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

/*Thank you Card*/
#icon {
  margin-bottom: 30px;
  margin-top: 10px;
}

#thank {
  align-items: center;
  text-align: center;
}

#selection {
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.29);
  padding: 10px 25px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

#bodyThank {
  margin-bottom: 0;
}

#bodyThank h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

#bodyThank p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.hidden {
  display: none;
}
