/*
## Colors

### Primary

- Green 200 (lighter): #dff1e7
- Green 600 (medium): #0c7d69
- Red: #d73c3c

### Neutral

- Grey 500 (medium): #87a3a6
- Grey 900 (darker): #2b4246

## Typography

### Body Copy
- Font size (labels): 16px

### Font
- Weights: 400, 700
*/

body {
  font-family: "Karla", sans-serif;
  background-color: #dff1e7;
  color: #2b4246;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#success {
  color: white;
  background-color: #2b4246;
  border-radius: 10px;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 10px;
}
#success p {
  margin: 15px;
}

#success span {
  margin-right: 10px;
}

#sucMes {
  font-size: 0.8rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#mainCard {
  background-color: white;
  width: 60%;
  max-width: 675px;
  min-width: 445px;
  height: auto;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10%;
}

form {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.split > * {
  width: 48%;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #87a3a6;
  accent-color: #0c7d69;
}

input:focus {
  border-color: #0c7d69;
  border-width: 2px;
  outline: none;
}

input:hover {
  cursor: pointer;
}

.checkHalf:focus-within {
  background-color: #dff1e7;
}

.checkHalf label {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.checkHalf input {
  max-width: 20px;
  margin-right: 0;
  margin-left: 20px;
}

.border {
  padding: 10px 0;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #87a3a6;
}

.border input {
  width: 10%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.asterisk {
  color: #0c7d69;
  font-weight: 700;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
}

textarea {
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #87a3a6;
}

textarea:focus {
  border-color: #0c7d69;
  border-width: 2px;
  outline: none;
  border-radius: 5px;
}

.error {
  color: #d73c3c;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.redBorder {
  border-color: #d73c3c;
}

#consentDiv {
  margin-top: 20px;
}

#consentDiv label {
  margin: 5px;
}

#consentDiv label:hover {
  cursor: pointer;
}

#consentErr {
  margin-top: 5px;
}

.hidden {
  display: none;
}

#btn {
  background-color: #0c7d69;
  color: white;
  border: none;
  font-family: "Karla", sans-serif;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 30px;
}

#btn:hover {
  background-color: #06483c;
  cursor: pointer;
}

.attribution {
  margin-bottom: 20px;
}
