/*
## Colors

### Primary

- Green 200 (lighter): #dff1e7
- Green 600 (medium): #0c7d69
- Red: #d73c3c

### Neutral

- Grey 500 (medium): #87a3a6
- Grey 900 (darker): #2b4246

## Typography

### Body Copy
- Font size (labels): 16px

### Font
- Weights: 400, 700
*/

body {
  font-family: "Karla", sans-serif;
  background-color: #dff1e7;
  color: #2b4246;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#success {
  color: white;
  background-color: #2b4246;
  border-radius: 10px;
  width: 35%;
  margin-bottom: 10px;
}
#success p {
  margin: 15px;
}

#sucMes {
  font-size: 0.8rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   height: 100vh;
 */
}

#mainCard {
  background-color: white;
  width: 60%;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  margin-top: 5px;
}

input {
  padding: 10px 0;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #87a3a6;
}

.border {
  padding: 10px 0;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #87a3a6;
}

.border input {
  width: 10%;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.half {
  width: 49%;
  /*   margin-right: 3%;
 */
}

.half > * {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.asterisk {
  color: #0c7d69;
  font-weight: 700;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
}

.error {
  color: #d73c3c;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.redBorder {
  border-color: #d73c3c;
}

#consentDiv {
  margin-top: 20px;
}

#consentDiv label {
  margin: 5px;
}

#consentErr {
  margin-top: 5px;
}

.hidden {
  /*  display: none  ;*/
}

#submit {
  background-color: #0c7d69;
  color: white;
  border: none;
  font-family: "Karla", sans-serif;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 20px;
}
