/* ## Colors

### Primary

- Blue: hsl(223, 87%, 63%)

### Secondary

- Pale Blue: hsl(223, 100%, 88%)
- Light Red: hsl(354, 100%, 66%)

### Neutral

- Gray: hsl(0, 0%, 59%)
- Very Dark Blue: hsl(209, 33%, 12%)

### Body Copy
- Font size: 20px

### Fonts
- Weights: 300, 600, 700
*/

body {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

main > * {
  width: 100%;
  display: flex;
}

#logo {
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}

#heading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}

#heading h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 0;
}

#heading span {
  font-weight: 700;
}

#heading p {
  font-weight: 600;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#submit #inputBox {
  width: 68%;
}

#inputBox p {
  margin: 0;
}

#submit input {
  border-radius: 20px;
  border: 1px hsl(0, 0%, 59%) solid;
  outline: none;
  padding: 10px 20px;
  margin-right: 2%;
  width: 100%;
}

::placeholder {
  color: hsl(0, 0%, 59%);
}

#submit button {
  width: 30%;
  border-radius: 20px;
  border-width: 0;
  background-color: hsl(223, 87%, 63%);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 10px;
}

#submit button:hover {
  background-color: hsl(223, 70%, 63%);
  cursor: pointer;
}

#img {
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#img img {
  width: 100%;
  object-fit: contain;
}

#footing {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 59%);
  margin: 0;
}

#social {
  display: flex;
  justify-content: center;
  width: 10%;
  color: #4f7df3;
  margin: 0;
  margin-bottom: 10px;
}

#social img {
  width: 30%;
  color: #4f7df3;
  border: hsl(223, 100%, 88%) 1px solid;
  padding: 5px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 15px;
}

#social img:hover {
  cursor: pointer;
}
