/*
colors
primary
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

gradients
- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

Fonts 
weights 500 700 800
size 18
*/

body {
  font-family: "Hanken Grotesk", sans-serif;
}

#mainCard {
  display: flex;
  flex-direction: row;
  width: 60%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.378) 0px 10px 20px;
  border-radius: 20px;
}

.section {
  width: 50%;
  padding: 20px 40px;
}

#result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

#result h1 {
  color: hsl(241, 100%, 89%);
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#result #score {
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  text-align: center;
  height: 150px;
  width: 150px;
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#result #score #number {
  font-size: 3rem;
  font-weight: 800;
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
}

#result #score p {
  margin-top: 0;
  margin-bottom: 0;
}

#result #info {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
}

#result #info h2 {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
