/*
colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

Font weights
300,400,600

*/

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: white;
}

#mainCard {
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

#text h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

#text p {
  color: hsl(215, 51%, 70%);
  font-size: 1.2rem;
  font-weight: 200;
}

#image img {
  width: 100%;
  border-radius: 10px;
}

#details {
  display: flex;
  justify-content: space-between;
}

#price {
  display: flex;
  align-items: center;
}

#svgPrice {
  margin: 0;
  margin-right: 10px;
}

#price p {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

#time {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

#svgTime {
  margin: 0;
  margin-right: 10px;
}

#author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid hsl(215, 32%, 27%);
  width: 100%;
  margin-left: 0;
  padding: 15px 0;
}

#author img {
  width: 30px;
  height: 30px;
  border: 2px white solid;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 0;
}

#author p {
  margin-bottom: 0;
  color: hsl(215, 51%, 70%);
}

#author span {
  color: white;
}
